<div class="card-columns">

    <div *ngFor="let cancion of nuevasCanciones" class="card">
        <img class="card-img-top" [src]="cancion.images| noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ cancion.name }}</h5>
            <p>
                <span *ngFor="let artista of cancion.artists" class="bagge badge-pill badge-primary ml-1">
                    {{ artista.name }}
                </span>
            </p>

        </div>
    </div>

</div>